
obj/AsposeAPI\.csproj\.nuget\.cache

obj/AsposeAPI\.csproj\.nuget\.dgspec\.json

obj/AsposeAPI\.csproj\.nuget\.g\.props

obj/AsposeAPI\.csproj\.nuget\.g\.targets

obj/Debug/netcoreapp2\.2/AsposeAPI\.assets\.cache

obj/Debug/netcoreapp2\.2/AsposeAPI\.csproj\.CoreCompileInputs\.cache

obj/Debug/netcoreapp2\.2/AsposeAPI\.csprojAssemblyReference\.cache

obj/Debug/netcoreapp2\.2/project\.razor\.json

obj/project\.assets\.json
